ALLOWED_HOSTS=["localhost","localhost:5173","127.0.0.1", "frontend"]
DEBUG=True
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=yourdb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=yourdbpassword
SECRET=yourappsecret
DOMAIN=yourdomain.com
EMAIL=your@email.com