ALLOWED_HOSTS=['http://127.0.0.1', 'http://localhost', 'frontend']
DEBUG='False'
POSTGRES_HOST='localhost'
POSTGRES_PORT='5432'
POSTGRES_DB='InfoApp'
POSTGRES_USER='postgres'
POSTGRES_PASSWORD='your_password'